VITE_FIREBASE_API_KEY=AIzaSyCi7OVX04VxHKwaEBUv3PuVEmZK76I8Wf0
VITE_FIREBASE_AUTH_DOMAIN=chess-5ccef.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chess-5ccef
VITE_FIREBASE_STORAGE_BUCKET=chess-5ccef.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=374953741216
VITE_FIREBASE_APP_ID=1:374953741216:web:192ce6033dc7f72fcdf2c5