h1 {
  margin: 0% !important;
}
.Invite {
  position: relative;
  width: 100%;
  height: 100vh;
}
#sample {
  position: absolute;
  top: 50px;
  right: 16px;
  padding: 10px;
  color: black;
}
h5 {
  position: absolute;
  top: 0px;
  right: 16px;
}
.copy {
  cursor: pointer;
  width: 70px;
  height: 40px;
  position: absolute;
  top: 50px;
  right: 16px;
  margin-left: 10px;
  background-color: rgb(23, 173, 211);
  color: white;
  border-radius: 10px;
  box-shadow: grey;
}
